.page {
    margin-left: 40px;
    margin-top: 0;
    margin-right: 40px;
    margin-bottom: 0;
    padding: 0; 
    width: 1200px;
    height: 2762px;

    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;

    background-color: #f2f2f2;
    background-position: top center;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.header,
.container,
.footer {
    background-color: #ffffff;
    width: 1200px;
}

a {
    text-decoration: none;
    color: black;
}

.img {
    max-width: 100%;
    height: auto;
    }
    
.visually-hidden {
    display: none;
}

/*navigation menu top page*/

.navigation {
    width: 1200px;
    height: 56px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;     
}








/* index page*/
.welcome {
    text-align: center;
    background-image: url("../img/background-photo.jpg");
    width: 1200px;
    height: 492px;
}