

/*second page */

.filter-form {
    background-image: url("../img/filter-background.jpg");
    width: 1200px;
    height: 217px;
    background-position: 50%;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 217px;
}

.filter-infra,
.filter-home {
    list-style: none;
    color: #ffffff;
    text-align: left;
    padding: 0;
    margin-top: 0;
    font-weight: bold;
    font-size: 16px;
    margin-left: -60px;
}

.filter-infra li:first-child,
.filter-home li:first-child {
    font-weight: bold;
    font-size: 16px;
}

.filter-home {
    margin-left: -150px;
}

.filter-infra li,
.filter-home li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 14px;
}

.checkbox {

}

.checkbox-on {
    width: 27px;
    height: 23px;
    object-fit: contain;
    background-color: #ffffff;
}

.checkbox-off {
    width: 23px;
    height: 23px;
    object-fit: contain;
    background-color: #ffffff;
}

.icon {
   
}

.icon-up-dir,
.icon-down-dir {
    fill: rgba(0, 0, 0, 0.3);
    border: none;
    background: none;
}

.icon-up-dir:hover,
.icon-down-dir:hover {
    fill: #000000 ;
}

.icon-up-dir:active,
.icon-down-dir:active {
    fill: #81b3d2;
}

.resort,
.motel,
.appart {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    width: 1200px;
    height: 150px;
    border-bottom: 2px solid #f2f2f2;
}

.hotel-picture {
    margin-left: 40px;
}

.hotel-name {
    margin-right: 420px;
}

.hotel-name h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.hotel-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
}

.hotel-type p {
   padding-right: 40px;
}

.hotel-value {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stars {
    display: flex;
    flex-direction: row;
    list-style: none; 
}

.stars li {
    margin: 3px;
}

.rating {
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    text-align: center;
}

.more-button {
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
    border: none;
    color: #ffffff;
    text-transform: uppercase; 
    font-weight: bold;   
}

.booking-button {
    width: 142px;
    height: 27px;
    background-color: #766357;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;  
}

.sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #f2f2f2;
    height: 86px;  
}

.sorting-h2 {
    margin-left: -40px;
}

.sorting-p {
    font-size: 12px;
    line-height: 18px;
}

.sorting-ptr {
    display: flex;
    list-style: none; 
    font-size: 12px;
    line-height: 18px;  
    padding: 0;
}

.sorting-ptr a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline dotted;
    text-transform: uppercase;
    border: none;
    background: none; 
    padding-left: 33px;
}

.sorting-ptr a:hover {
    color: #81b3d2;
    text-decoration: none;   
}

.sorting-ptr a:active {
    color: #000000;
    text-decoration: none;   
}

