.page {
    margin-left: 40px;
    margin-top: 0;
    margin-right: 40px;
    margin-bottom: 0;
    padding: 0; 
    width: 1200px;
    height: 2762px;

    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;

    background-color: #f2f2f2;
    background-position: top center;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.header,
.container,
.footer {
    background-color: #ffffff;
    width: 1200px;
}

a {
    text-decoration: none;
    color: black;
} 

.img {
max-width: 100%;
height: auto;
}

.visually-hidden {
    display: none;
}

.welcome {
    text-align: center;
    background-image: url("../img/background-photo.jpg");
    width: 1200px;
    height: 492px;
}

.intro-welcome {
    margin-top: 76px;
}

.reason {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 216px;
    line-height: 26px;
}

.reason p {
    color: #333333;    
}

.background-photo {
    background-color:  #609dc4; 
}

.polygon {
    object-fit: contain; 
    margin-left: -1px;
  }

/* шапка сайта - navigation*/
.navigation {
    width: 1200px;
    height: 56px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;     
}

.navigation-menu { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    list-style: none;
    min-height: 56px;
    padding: 0;
    position: relative;
}

.navigation-menu-item {
    width: 239px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-menu-item:nth-child(3),
.navigation-menu-item:nth-child(4) {
    position: absolute;
}

.navigation-menu-item:nth-child(3) {
    right: 239px;
}

.navigation-menu-item:nth-child(4) {
    right: 0;
}

.navigation-logo {
    position: absolute;
    margin-left: 529px;   
}

.navigation-menu a {
    color: black;
}

.navigation-menu a:hover {
    color: #81b3d2;
}

.navigation-menu a:active {
    color:  rgba(0, 0, 0, 0.3);  
}

.navigation-menu span {
    color: #766357;
}

.plus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 330px;
    margin: 0;
    padding: 0;
}

.tff {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #eeeeee;
    height: 256px;
    margin: 0;
    padding: 0;
}

.plus-extra,
.tree,
.four,
.five {
    list-style: none;
    text-align: center;
}

.plus-extra h2,
.tree h2,
.four h2,
.five h2 {
    font-size: 21px;
}

/* not sure if correct*/
.plus-extra-p,
.tree-p,
.four-p,
.five-p {
    color: #333333;    
}

.one,
.two {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 256px;  
}

.one-text,
.two-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 256px;
    background-color: #81b3d2;
    color: #ffffff;  
}

.one-text-h2,
.two-text-h2 {
    margin-top: 0;
}

.one-picture,
.two-picture {
    height: 256px;
}

.interest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 205px; 
    margin: 0; 
}  

.interest-h2 {
    font-size: 30px;
    line-height: 36px;   
}

.interest-p {
    margin-top: 0;
    color: #333333; 
}

.brown-button {
    width: 568px;
    height: 86px;
    background-color: #766357;
    text-align: center;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    position: relative;
    margin-left: 316px;
    margin-right: 316px;
    margin-top: 0;   
}

.form {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    width: 568px; 
    height: 395px;
    background-color: #ffffff;
    margin-left: 316px;
    margin-right: 316px;
    font-weight: bold;
}

.blue-button {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    margin: 55px;
}

.form-imput {
    display: block;
    position: absolute;
}

.map {
    width: 1200px;
    height: 593px; 
    margin-bottom: -125px;
}

.footer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 120px;
    opacity: 0.9;
 }

.footer-contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.footer-social {
    display: flex;
    flex-direction: row;
    list-style: none;    
}

.social-button {
    display: flex;
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
    margin-left: 6px;
    align-items: center;
    justify-content: center;  
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

b {
    font-size: 14px;
    line-height: 26px;
    margin-right: 4px;
}

/*second page */

.filter-form {
    background-image: url("../img/filter-background.jpg");
    width: 1200px;
    height: 217px;
    background-position: 50%;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 217px;
}

.filter-infra,
.filter-home {
    list-style: none;
    color: #ffffff;
    text-align: left;
    padding: 0;
    margin-top: 0;
    font-weight: bold;
    font-size: 16px;
    margin-left: -60px;
}

.filter-infra li:first-child,
.filter-home li:first-child {
    font-weight: bold;
    font-size: 16px;
}

.filter-home {
    margin-left: -150px;
}

.filter-infra li,
.filter-home li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 14px;
}

.checkbox {

}

.checkbox-on {
    width: 27px;
    height: 23px;
    object-fit: contain;
    background-color: #ffffff;
}

.checkbox-off {
    width: 23px;
    height: 23px;
    object-fit: contain;
    background-color: #ffffff;
}

.icon {
   
}

.icon-up-dir,
.icon-down-dir {
    fill: rgba(0, 0, 0, 0.3);
    border: none;
    background: none;
}

.icon-up-dir:hover,
.icon-down-dir:hover {
    fill: #000000 ;
}

.icon-up-dir:active,
.icon-down-dir:active {
    fill: #81b3d2;
}

.resort,
.motel,
.appart {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    width: 1200px;
    height: 150px;
    border-bottom: 2px solid #f2f2f2;
}

.hotel-picture {
    margin-left: 40px;
}

.hotel-name {
    margin-right: 420px;
}

.hotel-name h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.hotel-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
}

.hotel-type p {
   padding-right: 40px;
}

.hotel-value {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stars {
    display: flex;
    flex-direction: row;
    list-style: none; 
}

.stars li {
    margin: 3px;
}

.rating {
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    text-align: center;
}

.more-button {
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
    border: none;
    color: #ffffff;
    text-transform: uppercase; 
    font-weight: bold;   
}

.booking-button {
    width: 142px;
    height: 27px;
    background-color: #766357;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;  
}

.sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #f2f2f2;
    height: 86px;  
}

.sorting-h2 {
    margin-left: -40px;
}

.sorting-p {
    font-size: 12px;
    line-height: 18px;
}

.sorting-ptr {
    display: flex;
    list-style: none; 
    font-size: 12px;
    line-height: 18px;  
    padding: 0;
}

.sorting-ptr a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline dotted;
    text-transform: uppercase;
    border: none;
    background: none; 
    padding-left: 33px;
}

.sorting-ptr a:hover {
    color: #81b3d2;
    text-decoration: none;   
}

.sorting-ptr a:active {
    color: #000000;
    text-decoration: none;   
}

/*second page form*/

.filter-range {
    width: 330px;
    color: #ffffff;
    text-transform: uppercase;
}
  
.filter-range-title {
    margin-bottom: 9px;
  
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
  
.price-controls {
    position: relative;
    
    height: 36px;
    margin-bottom: 20px;
    
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
}
  
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
}
  
.price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
}
  
.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}
  
.price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
}
  
.range-controls {
    position: relative;
  
    margin-bottom: 32px;
}
  
.range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
}
  
.range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
}
  
.range-toggle {
    position: absolute;
    top: -9px;
    
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
  
.range-toggle:hover {
    background: #1c4f80;
}
  
.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}
  
.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
  
.btn-transparent:hover {
    color: #000000;
  
    background: #ffffff;
}
  